@import 'tailwindcss';
@import "flowbite/src/themes/default";

@import './font.css';
@import './tiptap-editor.css';

@plugin "flowbite/plugin";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@source "../../node_modules/flowbite";

@theme {
    --font-sans: 'IRANYekan', 'Instrument Sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: 'IRANSans-FaNum', 'IRANYekan';
}

body {
    display: grid;
    grid-template-areas:
        "header "
        "main "
        "footer ";
    grid-template-rows: auto 1fr auto;

}

body>header {
    grid-area: header;
}

body>main {
    grid-area: main;
}

body>footer {
    grid-area: footer;
}
